variables:
  CARGO_HOME: ${CI_PROJECT_DIR}/.cargo
  VERSION_SLUG: ${CI_COMMIT_BRANCH}.${CI_COMMIT_SHORT_SHA}

default:
  tags:
    - docker
    - linux/amd64

stages:
  - env
  - scan
  - test
  - quality
  - build
  - publish
  - deploy
  - audit

env-setup:
  image: busybox:1.37.0
  stage: env
  script:
    - echo "IMAGE_TAG=${IMAGE_TAG}" > build.env
  rules:
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
      variables:
        IMAGE_TAG: "latest"
    - if: $CI_COMMIT_BRANCH
      variables:
        IMAGE_TAG: "${CI_COMMIT_REF_SLUG}"
    - if: $CI_COMMIT_TAG
      variables:
        IMAGE_TAG: "${CI_COMMIT_REF_SLUG}"
  artifacts:
    reports:
      dotenv: build.env
  
scan-gitguardian:
  image: gitguardian/ggshield:v1.35.0
  stage: scan
  dependencies: []
  script: ggshield secret scan ci --ignore-known-secrets
  allow_failure: true

scan-fossa:
  image: registry.kirauks.net/dev-ops/build-images/rust-fossa:1.84.0
  stage: scan
  dependencies: []
  before_script:
    - export FOSSA_API_KEY=$FOSSA_API_KEY
  script:
    - fossa analyze --branch $CI_COMMIT_BRANCH
  rules:
    - if: $CI_COMMIT_BRANCH
  allow_failure: true

scan-rust:
  image: registry.kirauks.net/dev-ops/build-images/rust-cross:1.84.0
  stage: scan
  dependencies: []
  cache:
    key: cargo-$CI_COMMIT_REF_SLUG
    paths:    
      - .cargo
  before_script:
    - cargo --version
  script:
    - cargo clippy --message-format=json | tee clippy.json
  artifacts:
    name: scan-rust
    paths:
      - clippy.json

test-angular:
  image: registry.kirauks.net/dev-ops/build-images/node-angular:22.13.0-alpine3.21
  stage: test
  dependencies: []
  cache: 
    key: npm-$CI_COMMIT_REF_SLUG
    paths:
      - .npm
  before_script:
    - npm -v
    - node -v
    - npm config set "//npm.fontawesome.com/:_authToken" $FONTAWESOME_PACKAGE_TOKEN
    - npm ci --cache .npm --prefer-offline --no-audit --prefix ./ui
  script:
    - cd ui
    - ./node_modules/.bin/ng test --no-watch --no-progress --code-coverage --browsers=ChromeHeadlessNoSandbox
  coverage: '/Statements\s+:\s\d+.\d+%/'
  artifacts:
    name: reports-angular
    paths:
      - ui/coverage/**/lcov.info/lcov.info
      - ui/coverage/**/cobertura-coverage.xml
    reports:
      coverage_report:
        coverage_format: cobertura
        path: ui/coverage/**/cobertura-coverage.xml

test-rust:
  tags:
    - docker
    - linux/amd64
    - privileged
  image: registry.kirauks.net/dev-ops/build-images/rust-cross:1.84.0
  stage: test
  dependencies: []
  cache:
    key: cargo-$CI_COMMIT_REF_SLUG
    paths:    
      - .cargo
  before_script:
    - cargo --version
  script:
    - cargo tarpaulin --timeout 120 --out xml
  coverage: '/^\d+.\d+% coverage/'
  artifacts:
    name: reports-rust
    paths:
      - cobertura.xml
    reports:
      coverage_report:
        coverage_format: cobertura
        path: cobertura.xml

quality-sonarqube:
  image:
    name: sonarsource/sonar-scanner-cli:11
    entrypoint: [""]
  stage: quality
  dependencies:
    - scan-rust
    - test-angular
    - test-rust
  cache:
    key: sonar-$CI_JOB_NAME
    paths:
      - .sonar/cache
  variables:
    SONAR_USER_HOME: "${CI_PROJECT_DIR}/.sonar"
    GIT_DEPTH: "0"
  rules:
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
  allow_failure: true
  script:
    - >- 
      sonar-scanner 
      -X 
      -Dsonar.projectKey=${CI_PROJECT_PATH_SLUG} 
      -Dsonar.projectName=${CI_PROJECT_PATH_SLUG} 
      -Dsonar.projectVersion=${CI_COMMIT_BRANCH}.${CI_COMMIT_SHORT_SHA}
  
build-angular:
  image: registry.kirauks.net/dev-ops/build-images/node-angular:22.13.0-alpine3.21
  stage: build
  dependencies: []
  cache: 
    key: npm-$CI_COMMIT_REF_SLUG
    paths:
      - .npm
  before_script:
    - npm -v
    - node -v
    - npm config set "//npm.fontawesome.com/:_authToken" $FONTAWESOME_PACKAGE_TOKEN
    - npm ci --cache .npm --prefer-offline --no-audit --prefix ./ui
  script:
    - cd ui
    - sed -i -e "s|%VERSION_SLUG%|${VERSION_SLUG}|g" src/environments/environment.prod.ts 
    - ./node_modules/.bin/ng build --configuration production
  artifacts:
    name: www
    paths:
      - ui/dist/*

.build-rust:
  tags:
    - docker
    - linux/amd64
    - privileged
  image: registry.kirauks.net/dev-ops/build-images/rust-cross:1.84.0
  services:
    - name: docker:27.5.0-dind
      alias: docker
      variables:
        DOCKER_DRIVER: overlay2
        DOCKER_TLS_CERTDIR: ""
  stage: build
  dependencies: []
  cache:
    key: cargo-$CI_COMMIT_REF_SLUG
    paths:   
      - .cargo
  before_script:
    - cargo --version
    - echo "${CI_REGISTRY_PASSWORD}" | docker login ${CI_REGISTRY} --username ${CI_REGISTRY_USER} --password-stdin
  script:
    - cross build --release --target=${RUST_TARGET} --verbose

build-rust-amd64:
  extends: .build-rust
  variables:
    RUST_TARGET: x86_64-unknown-linux-gnu
  artifacts:
    name: api-amd64
    paths:
      - target/x86_64-unknown-linux-gnu/release/minecraft-rcon

build-rust-arm64:
  extends: .build-rust
  variables:
    RUST_TARGET: aarch64-unknown-linux-gnu
  artifacts:
    name: api-arm64
    paths:
      - target/aarch64-unknown-linux-gnu/release/minecraft-rcon

.build-rust-features:
  extends: .build-rust
  parallel:
    matrix:
      - FEATURES: 
        - metrics
        - swagger
  script:
    - cross build --no-default-features --features=$FEATURES --release --target=${RUST_TARGET} --verbose

build-rust-features-amd64:
  extends: .build-rust-features
  variables:
    RUST_TARGET: x86_64-unknown-linux-gnu

build-rust-features-arm64:
  extends: .build-rust-features
  variables:
    RUST_TARGET: aarch64-unknown-linux-gnu

.publish-kaniko:
  image:
    name: gcr.io/kaniko-project/executor:v1.23.2-debug
    entrypoint: [""]
  stage: publish
  dependencies:
    - env-setup
  before_script: 
    - echo "{\"auths\":{\"${CI_REGISTRY}\":{\"auth\":\"$(echo -n ${CI_REGISTRY_USER}:${CI_REGISTRY_PASSWORD} | base64)\"}}}" > /kaniko/.docker/config.json
  script:
    - >-
      /kaniko/executor 
      --context "${CI_PROJECT_DIR}" 
      --dockerfile "${CI_PROJECT_DIR}/Dockerfile.${ARCH}" 
      --build-arg VERSION_SLUG=${VERSION_SLUG} 
      --destination "${CI_REGISTRY_IMAGE}:${IMAGE_TAG}-${ARCH}" 
      --custom-platform "linux/${ARCH}"
  rules:
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
    - if: $CI_COMMIT_BRANCH
    - if: $CI_COMMIT_TAG
     
publish-kaniko-amd64:
  extends: .publish-kaniko
  dependencies: 
    - env-setup
    - build-angular 
    - build-rust-amd64 
  variables:
    ARCH: "amd64"

publish-kaniko-arm64:
  extends: .publish-kaniko
  tags:
    - docker
    - linux/amd64
    - qemu
  dependencies: 
    - env-setup
    - build-angular 
    - build-rust-arm64
  variables:
    ARCH: "arm64"

publish-manifest:
  image:
    name: mplatform/manifest-tool:alpine-v2.1.9
    entrypoint: [""]
  stage: publish
  needs:
    - job: env-setup
      artifacts: true
    - job: publish-kaniko-amd64
      artifacts: false
    - job: publish-kaniko-arm64
      artifacts: false
  script:
    - >-
      manifest-tool 
      --username ${CI_REGISTRY_USER} 
      --password ${CI_REGISTRY_PASSWORD} 
      push 
      from-args 
      --platforms linux/amd64,linux/arm64 
      --template "${CI_REGISTRY_IMAGE}:${IMAGE_TAG}-ARCH" 
      --target "${CI_REGISTRY_IMAGE}:${IMAGE_TAG}"
  rules:
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
    - if: $CI_COMMIT_BRANCH
    - if: $CI_COMMIT_TAG
    
deploy-portainer:
  image:
    name: alpine/curl:8.10.0
  stage: deploy
  dependencies: []
  script:
    - curl -sSfk -X POST "${PORTAINER_WEBHOOK}" 
  rules:
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
  allow_failure: true

audit-trivy:
  image:
    name: docker.io/aquasec/trivy:0.58.2
    entrypoint: [""]
  stage: audit
  dependencies:
    - env-setup
  cache:
    key: trivycache
    paths:
      - .trivycache/
  allow_failure: true
  variables:
    # No need to clone the repo, we exclusively work on artifacts.
    # See https://docs.gitlab.com/ee/ci/runners/README.html#git-strategy
    GIT_STRATEGY: none
    TRIVY_USERNAME: "${CI_REGISTRY_USER}"
    TRIVY_PASSWORD: "${CI_REGISTRY_PASSWORD}"
    TRIVY_AUTH_URL: "${CI_REGISTRY}"
    TRIVY_NO_PROGRESS: "true"
    TRIVY_SCANNERS: "vuln"
    TRIVY_CACHE_DIR: ".trivycache/"
  script:
    - trivy --version
    # Cache cleanup is needed when scanning images with the same tags, it does not remove the database
    - time trivy clean --scan-cache
    # Update vulnerabilities database
    - time trivy image --download-db-only
    # Builds report and puts it in the default workdir $CI_PROJECT_DIR, so `artifacts:` can take it from there
    - time trivy image --exit-code 0 --format template --template "@/contrib/gitlab.tpl" --output "${CI_PROJECT_DIR}/gl-container-scanning-report.json" "${CI_REGISTRY_IMAGE}:${IMAGE_TAG}"
    # Prints full report
    - time trivy image --exit-code 0 "${CI_REGISTRY_IMAGE}:${IMAGE_TAG}"
    # Fail on critical vulnerabilities
    - time trivy image --exit-code 1 --severity CRITICAL --ignore-unfixed "${CI_REGISTRY_IMAGE}:${IMAGE_TAG}"
  rules:
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
    - if: $CI_COMMIT_BRANCH
    - if: $CI_COMMIT_TAG
  artifacts:
    when: always
    reports:
      container_scanning: gl-container-scanning-report.json