variables:
  CARGO_HOME: ${CI_PROJECT_DIR}/.cargo
  VERSION_SLUG: ${CI_COMMIT_BRANCH}.${CI_COMMIT_SHORT_SHA}

default:
  tags:
    - docker
    - linux/amd64

stages:
  - env
  - scan
  - test
  - quality
  - build
  - publish
  - deploy
  - audit

include:
  # Scanners
  - component: gitlab.kirauks.net/dev-ops/components/scanners/gitguardian@1.0.1
    inputs:
      job-name: gitguardian
      stage: scan

  - component: gitlab.kirauks.net/dev-ops/components/scanners/fossa@1.0.1
    inputs:
      job-name: fossa
      stage: scan

  - component: gitlab.kirauks.net/dev-ops/components/scanners/sonarqube@1.0.1
    inputs:
      job-name: sonarqube
      stage: quality

  - component: gitlab.kirauks.net/dev-ops/components/rust/clippy@1.0.0
    inputs:
      job-name: rust-clippy
      stage: scan

  # Tests
  - component: gitlab.kirauks.net/dev-ops/components/angular/test@1.0.1
    inputs:
      job-name: angular-test
      stage: test
      prefix: ./ui

  - component: gitlab.kirauks.net/dev-ops/components/rust/test@1.0.0
    inputs:
      job-name: rust-test
      stage: test
  - component: gitlab.kirauks.net/dev-ops/components/rust/test@1.0.0
    inputs:
      job-name: rust-test-features
      stage: test
      no-default-features: true
      features: $FEATURES

  # Builds
  - component: gitlab.kirauks.net/dev-ops/components/angular/build@1.0.1
    inputs:
      job-name: angular-build
      stage: build
      prefix: ./ui
      artifacts: "*"

  - component: gitlab.kirauks.net/dev-ops/components/rust/cross-build@1.0.0
    inputs:
      job-name: rust-build-amd64
      stage: build
      target: x86_64-unknown-linux-gnu
      artifacts: minecraft-rcon
  - component: gitlab.kirauks.net/dev-ops/components/rust/cross-build@1.0.0
    inputs:
      job-name: rust-build-features-amd64
      stage: build
      target: x86_64-unknown-linux-gnu
      no-default-features: true
      features: $FEATURES
      artifacts: minecraft-rcon

  - component: gitlab.kirauks.net/dev-ops/components/rust/cross-build@1.0.0
    inputs:
      job-name: rust-build-arm64
      stage: build
      target: aarch64-unknown-linux-gnu
      artifacts: minecraft-rcon
  - component: gitlab.kirauks.net/dev-ops/components/rust/cross-build@1.0.0
    inputs:
      job-name: rust-build-features-arm64
      stage: build
      target: aarch64-unknown-linux-gnu
      no-default-features: true
      features: $FEATURES
      artifacts: minecraft-rcon

  # Containers
  - component: gitlab.kirauks.net/dev-ops/components/containers/kaniko@1.0.1
    inputs:
      job-name: kaniko-amd64
      stage: publish
      dockerfile: Dockerfile.amd64
      platform: linux/amd64
      base-tag: ${IMAGE_TAG}

  - component: gitlab.kirauks.net/dev-ops/components/containers/kaniko@1.0.1
    inputs:
      job-name: kaniko-arm64
      stage: publish
      dockerfile: Dockerfile.arm64
      platform: linux/arm64
      base-tag: ${IMAGE_TAG}

  - component: gitlab.kirauks.net/dev-ops/components/containers/manifest@1.0.1
    inputs:
      job-name: manifest
      stage: publish
      platforms: linux/amd64,linux/arm64
      base-tag: ${IMAGE_TAG}

  - component: gitlab.kirauks.net/dev-ops/components/containers/trivy@1.0.1
    inputs:
      job-name: trivy
      stage: audit
      image-tag: ${IMAGE_TAG}

env:
  image: busybox:1.37.0
  stage: env
  script:
    - echo "IMAGE_TAG=${IMAGE_TAG}" > build.env
  rules:
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
      variables:
        IMAGE_TAG: "latest"
    - if: $CI_COMMIT_BRANCH
      variables:
        IMAGE_TAG: "${CI_COMMIT_REF_SLUG}"
    - if: $CI_COMMIT_TAG
      variables:
        IMAGE_TAG: "${CI_COMMIT_REF_SLUG}"
  artifacts:
    reports:
      dotenv: build.env

gitguardian:
  allow_failure: true

fossa:
  allow_failure: true

sonarqube:
  needs:
    - job: rust-clippy
      artifacts: true
    - job: angular-test
      artifacts: true
    - job: rust-test
      artifacts: true
  rules:
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
  allow_failure: true
  
angular-test:
  before_script:
    - npm -v
    - node -v
    - npm config set "//npm.fontawesome.com/:_authToken" $FONTAWESOME_PACKAGE_TOKEN

angular-build:
  before_script:
    - npm -v
    - node -v
    - npm config set "//npm.fontawesome.com/:_authToken" $FONTAWESOME_PACKAGE_TOKEN
    - sed -i -e "s|%VERSION_SLUG%|${VERSION_SLUG}|g" ui/src/environments/environment.prod.ts 

rust-test-features:
  parallel:
    matrix:
      - FEATURES: 
        - metrics
        - swagger

rust-build-features-amd64:
  parallel:
    matrix:
      - FEATURES: 
        - metrics
        - swagger

rust-build-features-arm64:
  parallel:
    matrix:
      - FEATURES: 
        - metrics
        - swagger

kaniko-amd64:
  dependencies: 
    - env
    - angular-build
    - rust-build-amd64
  rules:
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
    - if: $CI_COMMIT_BRANCH
    - if: $CI_COMMIT_TAG

kaniko-arm64:
  dependencies: 
    - env
    - angular-build
    - rust-build-arm64
  rules:
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
    - if: $CI_COMMIT_BRANCH
    - if: $CI_COMMIT_TAG

manifest:
  needs:
    - job: env
      artifacts: true
    - job: kaniko-amd64
      artifacts: false
    - job: kaniko-arm64
      artifacts: false
  rules:
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
    - if: $CI_COMMIT_BRANCH
    - if: $CI_COMMIT_TAG
    
portainer:
  image:
    name: alpine/curl:8.11.1
  stage: deploy
  script:
    - curl -sSfk -X POST "${PORTAINER_WEBHOOK}" 
  rules:
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
  allow_failure: true
