variables:
  VERSION_SLUG: ${CI_COMMIT_REF_NAME}+${CI_COMMIT_SHORT_SHA}

default:
  tags:
    - docker
    - linux/amd64

stages:
  - scan
  - test
  - quality
  - build
  - publish
  - audit

include:
  # Scanners
  - component: gitlab.kirauks.net/dev-ops/components/scanners/gitguardian@4.0.1
    inputs:
      job_name: gitguardian
      stage: scan
      allow_failure: true

  - component: gitlab.kirauks.net/dev-ops/components/sonarqube/sonarqube@1.0.1
    inputs:
      job_name: sonarqube
      stage: quality
      allow_failure: true

  - component: gitlab.kirauks.net/dev-ops/components/sbom/grype@1.0.3
    inputs:
      job_name: grype
      stage: quality
      fail_on_severity: critical

  - component: gitlab.kirauks.net/dev-ops/components/rust/clippy@4.5.0
    inputs:
      job_name: rust-clippy
      stage: scan

  # Tests
  - component: gitlab.kirauks.net/dev-ops/components/angular/test@3.5.1
    inputs:
      job_name: angular-test
      stage: test
      context: ./ui

  - component: gitlab.kirauks.net/dev-ops/components/rust/test@4.5.0
    inputs:
      job_name: rust-test
      stage: test
  - component: gitlab.kirauks.net/dev-ops/components/rust/test@4.5.0
    inputs:
      job_name: rust-test:features
      stage: test
      no_default_features: true
      features: $FEATURES

  # Builds
  - component: gitlab.kirauks.net/dev-ops/components/angular/build@3.5.1
    inputs:
      job_name: angular-build
      stage: build
      context: ./ui
      artifacts:
        - ./ui/dist/*

  - component: gitlab.kirauks.net/dev-ops/components/rust/build@4.5.0
    inputs:
      job_name: rust-build:amd64
      stage: build
      target: x86_64-unknown-linux-gnu
      artifacts:
        - ./target/x86_64-unknown-linux-gnu/release/minecraft-rcon

  - component: gitlab.kirauks.net/dev-ops/components/rust/build@4.5.0
    inputs:
      job_name: rust-build:arm64
      stage: build
      target: aarch64-unknown-linux-gnu
      artifacts:
        - ./target/aarch64-unknown-linux-gnu/release/minecraft-rcon

  # Containers
  - component: gitlab.kirauks.net/dev-ops/components/containers/build@4.1.0
    inputs:
      job_name: container:amd64
      stage: publish
      dockerfile: Dockerfile.amd64
      platform: linux/amd64

  - component: gitlab.kirauks.net/dev-ops/components/containers/build@4.1.0
    inputs:
      job_name: container:arm64
      stage: publish
      dockerfile: Dockerfile.arm64
      platform: linux/arm64

  - component: gitlab.kirauks.net/dev-ops/components/containers/manifest@4.1.0
    inputs:
      job_name: manifest
      stage: publish
      platforms: linux/amd64,linux/arm64

  - component: gitlab.kirauks.net/dev-ops/components/containers/audit@4.1.0
    inputs:
      job_name: audit
      stage: audit
      allow_failure: true

sonarqube:
  needs:
    - job: rust-clippy
      artifacts: true
    - job: angular-test
      artifacts: true
    - job: rust-test
      artifacts: true
  
angular-test:
  before_script:
    - npm -v
    - node -v
    - npm config set "//npm.fontawesome.com/:_authToken" $FONTAWESOME_PACKAGE_TOKEN

angular-build:
  before_script:
    - npm -v
    - node -v
    - npm config set "//npm.fontawesome.com/:_authToken" $FONTAWESOME_PACKAGE_TOKEN
    - sed -i -e "s|%VERSION_SLUG%|${VERSION_SLUG}|g" ui/src/environments/environment.prod.ts 

rust-test:
  tags:
    - docker
    - linux/amd64
    - privileged
    - vlan/dmz # Minecraft server
    
rust-test:features:
  tags:
    - docker
    - linux/amd64
    - privileged
    - vlan/dmz # Minecraft server
  parallel:
    matrix:
      - FEATURES: 
        - metrics
        - swagger

container:amd64:
  dependencies:
    - angular-build
    - rust-build:amd64

container:arm64:
  dependencies:
    - angular-build
    - rust-build:arm64

manifest:
  needs:
    - job: container:amd64
      artifacts: false
    - job: container:arm64
      artifacts: false
    