:host {

    .btn.disabled {
        cursor: not-allowed;
    }

    .card-body {
        background-color: var(--minecraft-rcon-console-reply-bg-color);

        .console-output, .card-header {
            font-family: monospace, monospace;
        }
    }
    
}