[data-bs-theme=dark] {
    --minecraft-rcon-navbar-border-color: var(--bs-border-color);

}
[data-bs-theme=light] {
    --minecraft-rcon-navbar-border-color: var(--bs-dark);
    --minecraft-rcon-console-reply-bg-color: var(--bs-gray-200);
}