@use "sass:map";

// Bootstrap
@import "node_modules/bootstrap/scss/_functions";
@import "node_modules/bootstrap/scss/_variables";

$colors: map.merge(
  (
    // Boostrap
    "blue":         #007bff,
    "indigo":       #6610f2,
    "purple":       #6f42c1,
    "pink":         #e83e8c,
    "red":          #dc3545,
    "orange":       #fd7e14,
    "yellow":       #ffc107,
    "green":        #28a745,
    "teal":         #20c997,
    "cyan":         #17a2b8,
    "white":        #ffffff,
    "gray":         #6c757d,
    "gray-dark":    #343a40,
    // Custom
    "brown":        #926441,
  ),
  $colors
);
$theme-colors: map.merge(
    (
        "blue":         #007bff,
        "indigo":       #6610f2,
        "purple":       #6f42c1,
        "pink":         #e83e8c,
        "red":          #dc3545,
        "orange":       #fd7e14,
        "yellow":       #ffc107,
        "green":        #28a745,
        "teal":         #20c997,
        "cyan":         #17a2b8,
        "white":        #ffffff,
        "gray":         #6c757d,
        "gray-dark":    #343a40,
        "brown":        #926441,
    ),
    $theme-colors
);

@import 'node_modules/bootstrap/scss/bootstrap.scss';

[data-bs-theme=dark] {
    --minecraft-rcon-navbar-border-color: var(--bs-border-color);

}
[data-bs-theme=light] {
    --minecraft-rcon-navbar-border-color: var(--bs-dark);
    --minecraft-rcon-console-reply-bg-color: var(--bs-gray-200);
}