@if (ready$ | async) {
    <nav class="navbar navbar-expand-md fixed-top navbar-dark bg-dark">
        <div class="container">

            <a class="navbar-brand" routerLink="/">
                <fa-icon icon="cube"></fa-icon>
                APP_NAME_TO_TRANSLATE
            </a>

            @if (navbarState$ | async; as navbarState) {
                <button class="navbar-toggler" (click)="toggleNavbarCollapse()" type="button" data-toggle="collapse"
                    data-target="#navbarNav">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div [collapse]="navbarState.collapsed" class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item setting" (click)="toggleTheme()" (keypress)="toggleTheme()">
                            <div class="navbar-text px-md-2">
                                @if (theme$ | async; as theme) {
                                    @switch (theme) {
                                        @case ("dark") {
                                            <fa-icon icon="moon" title="ENABLE_LIGHT_THEME_TO_TRANSLATE" [fixedWidth]="true">
                                            </fa-icon>
                                            <span class="d-inline d-md-none ms-1">DARK_THEME_ENABLED_TO_TRANSLATE</span>
                                            }
                                        @case ("light") {
                                            <fa-icon icon="sun" title="ENABLE_DARK_THEME_TO_TRANSLATE" [fixedWidth]="true">
                                            </fa-icon>
                                            <span class="d-inline d-md-none ms-1">LIGHT_THEME_ENABLED_TO_TRANSLATE</span>
                                        }
                                    }
                                }
                            </div>
                        </li>
                    </ul>
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="/swagger-ui/" target="_blank">
                                <fa-icon icon="gear-code" title="SWAGGER_TITLE_TO_TRANSLATE" [fixedWidth]="true">
                                </fa-icon>
                                <span class="d-inline d-md-none ms-1">SWAGGER_TITLE_TO_TRANSLATE</span>
                            </a>
                        </li>
                    </ul>
                </div>
            }

        </div>
    </nav>
    <div class="container">
        <router-outlet></router-outlet>
    </div>
} @else {
    <loader class="mx-auto mt5"></loader>
}